/* Variables */
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flexBox($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  section {
    background: #50c9c3;
    background: -webkit-linear-gradient(to right, #96deda, #50c9c3);
    background: linear-gradient(to right, #96deda, #50c9c3);
  }
}

body {
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  section {
    height: 100vh;
    width: 100%;
  }
}

.btn {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px grey solid;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  transition: all 0.5s ease;
  &:hover {
    background: black;
    color: whitesmoke;
    transition: all 0.5s ease;
    border: 1px whitesmoke solid;
  }
}

.landing {
  @include flexBox(space-evenly, center, column);
  text-align: center;
  .intro {
    h1 {
      margin: 20px 0;
      font-size: 26px;
      letter-spacing: 1px;
    }
    h4 {
      font-size: 18px;
    }
  }
  .btns {
    @include flexBox(space-evenly, baseline, row);
    div {
      margin: 0 20px;
    }
  }
}

#names,
#games,
.thank-page {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

#names {
  z-index: 1;
  @include flexBox(space-evenly, center, column);
  .inputs {
    @include flexCenter(row);
    div {
      margin: 0 20px;
      @include flexCenter(column);
      input {
        font-size: 18px;
        font-family: "Quicksand", sans-serif;
        max-width: 200px;
        padding: 5px 10px;
        margin: 10px 0;
      }
      img {
        width: 50px;
        margin: 10px 0;
      }
    }
  }
}

#names.show {
  transform: translateY(0);
  transition: all 0.5s ease;
}

#game.show {
  transform: translateY(-100%);
  transition: all 0.5s ease;
}

#game {
  z-index: 2;
  @include flexCenter(column);
  .results {
    width: 100%;
    @include flexBox(space-around, center, row);
    margin: 20px 0;
    span {
      font-size: 2rem;
    }
  }
  .board {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    .box {
      width: 100px;
      height: 100px;
      border: 1px black solid;
      @include flexCenter(row);
      cursor: pointer;
      img {
        width: 65px;
        height: 65px;
        opacity: 0;
      }
      &:hover {
        img {
          opacity: 0.5;
        }
      }
    }
    .box.clicked {
      pointer-events: none;
      img.clicked {
        opacity: 1;
        pointer-events: none;
      }
    }
  }
}

#game-over {
  text-align: center;
  transition: all 0.5s ease;
  @include flexCenter(column);
  h3 {
    color: whitesmoke;
    font-size: 2rem;
    margin: 20px 0;
  }
  .btns {
    @include flexCenter(row);
    margin: 20px 0;
    button {
      margin: 0 20px;
    }
  }
  transform: translateY(0);
}
#game-over.show {
  background-color: rgba($color: #000000, $alpha: 0.75);
  transform: translateY(-200%);
  z-index: 3;
  transition: all 0.5s ease;
}

.thank-page {
  @include flexCenter(column);
}

.thank-page.show {
  transform: translateY(0%);
  transition: all 0.5s ease;
  z-index: 4;
}

@media screen and (max-width: 500px) {
  #names {
    .inputs {
      input {
        width: 150px;
      }
      div {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .landing {
    .intro {
      .title {
        font-size: 1.4rem;
      }
      h4 {
        font-size: 1rem;
      }
    }
  }
  #game-over {
    h3 {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .landing {
    .intro {
      .title {
        font-size: 1rem;
      }
      h4 {
        font-size: 15px;
      }
    }
    .btns {
      display: flex;
      flex-direction: column;
      div {
        margin: 10px 0;
        padding: 0;
      }
    }
  }

  #names {
    .inputs {
      flex-direction: column;
      width: 100%;
      div {
        margin: 10px 0;
        width: 100%;
        input {
          width: 80%;
          text-align: center;
        }
      }
    }
  }

  #game {
    .board {
      grid-template-rows: repeat(3, 75px);
      grid-template-columns: repeat(3, 75px);
      .box {
        width: 75px;
        height: 75px;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
